.form-card {
  width: 400px;
  margin: 80px auto;
  background: white;
  padding: 25px;
  border-radius: 10px;
}

input, select {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
}

button {
  width: 100%;
  padding: 10px;
  background: #4caf50;
  color: white;
  border: none;
}
